:root {
    scroll-behavior: smooth;
    --yellow-500: rgb(239, 179, 8);
    --white: #ffffff;
  }

  .nav-item{
    transition: 0.4s;
    cursor: pointer;
}


.nav-item:hover{
    scale: 1.1;
    font-weight: 400;
    color: var(--yellow-500);
}

.bar{
    transition: 0.4s;
    cursor: pointer;
}

.bar:hover{
    color: var(--yellow-500);
}

.btn{
    transition: 0.5s;
}

.btn:hover{
    background-color: bisque;
    font-weight: 400;
    color: #000;
    border-color: bisque;
}